<!-- app/views/admin/mangas/_form.html.erb -->

<%= form_with(model: @manga, url: admin_mangas_path, local: true, class: "space-y-6") do |form| %>
  <div class="field">
    <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :title, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="field">
    <%= form.label :author, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :author, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="field">
    <%= form.label :first_published_date, class: "block text-sm font-medium text-gray-700" %>
    <% current_year = Time.current.year %>
    <%= form.date_select :first_published_date, 
      { prompt: { day: 'Day', month: 'Month', year: 'Year' }, 
        start_year: 1950, 
        end_year: current_year 
      }, 
      class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_area :description, class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
  </div>

  <div class="field">
    <%= form.label :category, class: "block text-sm font-medium text-gray-700" %>
    <% subcategories = ['Fiction', 'Action', 'Sports', 'Adventure', 'Romance', 'Mystery', 'Horror', 'Sci-Fi', 'Fantasy', 'Comedy', 'Drama', 'Slice of Life'] %>
    <% subcategories.each do |subcategory| %>
      <div class="flex items-center">
        <%= check_box_tag 'manga[category][]', subcategory, @manga.category.include?(subcategory), class: "mr-2" %>
        <%= label_tag "manga_category_#{subcategory}", subcategory, class: "text-sm font-medium text-gray-700" %>
      </div>
    <% end %>
    <small class="text-gray-500">Select up to 3 categories</small>
  </div>

  <div class="field">
    <%= form.label :images, class: "block text-sm font-medium text-gray-700" %>
    <%= form.fields_for :images do |image_fields| %>
      <div class="mt-1 flex items-center">
        <%= image_fields.text_field :link, placeholder: "Image URL", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        <%= image_fields.hidden_field :_destroy %>
        <%= link_to "Remove", "#", class: "text-red-500 ml-2", data: { action: "remove_image" } %>
      </div>
    <% end %>
    <%= link_to "Add Image", "#", class: "text-blue-500 underline", id: "add-image-link" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Manga", class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const addImageLink = document.getElementById('add-image-link');
    addImageLink.addEventListener('click', function(e) {
      e.preventDefault();
      const template = `<div class="mt-1 flex items-center">
                          <input placeholder="Image URL" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" type="text" name="manga[images_attributes][][link]" id="manga_images_attributes_new_link">
                          <input type="hidden" name="manga[images_attributes][][_destroy]" value="false">
                          <a href="#" class="text-red-500 ml-2" data-action="remove_image">Remove</a>
                        </div>`;
      addImageLink.insertAdjacentHTML('beforebegin', template);
    });

    document.body.addEventListener('click', function(e) {
      if (e.target.dataset.action === 'remove_image') {
        e.preventDefault();
        const field = e.target.closest('.mt-1');
        field.querySelector('input[type="hidden"]').value = "true";
        field.style.display = 'none';
      }
    });
  });
</script>